.todoitem {
    position: relative;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border-top: 1px solid #ccc;
    margin-left: 100px;
}
.todoitem:last-child {
    border-bottom: 1px solid #ccc;
}
.done .form-check-label {
    color: #999;
    text-decoration: line-through;
}
.form-check-label {
    width: 100%;
    margin-left: 10px;
    text-align: left;
}
.form-check-button {
    margin-top: -3px;
}